<form [formGroup]="teamUpsertFormGroup" (ngSubmit)="submitTeamUpsertForm()">
  <div class="container">
    <h1>Add Team</h1>
    <p>Please fill in this form to create a team.</p>
    <hr>

    <label for="name"><b>Team Name</b></label>
    <input type="text" placeholder="Enter Team Name" formControlName="name">
    <span *ngIf="name?.hasError('required') && (name?.dirty || name?.touched)" class="error">*Team Name is required</span> &nbsp;
    <span *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="error">*Must be atleast 4 characters long(Only Alphabets with spaces)</span>
    <span *ngIf="successMessage != null || successMessage != ''" class="successMessage">{{successMessage}}</span>
    <span *ngIf="unsuccessMessage != null || unsuccessMessage != ''" class="unsuccessMessage">{{unsuccessMessage}}</span>
    <hr>

    @if(!selectedTeamId)
    {
      <button class="addBtn">Add</button>
    }
    @else 
    {
      <button class="addBtn">Update</button>
    }
    
  </div>
  </form>
  @if(!selectedTeamId)
  {
    <div class="containerCancel" routerLink="../teams-list">
      <span>Cancel</span>
    </div>
  }
  @else
  {
    <div class="containerCancel" routerLink="../../teams-list">
      <span>Cancel</span>
    </div>
  }

