<button class="addButton" style="float: right;" routerLink="../team-add">Add Team</button>
<br>
<br>
<table id="table">
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  @for(team of teams; track team.id)
  {
    <tr>
        <td>{{team.name}}</td>
        <td>
          <button class="editButton" (click)="updateTeam(team.id)">Edit</button>
          &nbsp;
          <button class="deleteButton" (click)="openDeleteModal(team.id)">Delete</button>
        </td>
    </tr>
  }
</table>

<app-confirm-modal
  [visible]="isDeleteModalVisible"
  (confirm)="handleDeleteConfirm($event)"
>

</app-confirm-modal>