<button class="addButton" style="float: right;" routerLink="../player-upsert">Add Player</button>
<br>
<br>
<table id="table">
  <tr>
    <th>Name</th>
    <th>Team</th>
    <th>Actions</th>
  </tr>
  @for(player of players; track player.id)
  {
    <tr>
        <td>{{player.name}}</td>
        <td>{{player.team.name}}</td>
        <td>
          <button class="editButton" (click)="updatePlayer(player.id)">Edit</button>
          &nbsp;
          <button class="deleteButton" (click)="openDeleteModal(player.id)">Delete</button>
        </td>
    </tr>
  }
</table>

<app-confirm-modal
  [visible]="isDeleteModalVisible"
  (confirm)="handleDeleteConfirm($event)"
>

</app-confirm-modal>